<div class="container">
  <div class="row">
    <% articles.each do |article| %>
      <div class="col-sm-4">
        <a href="/articles/<%= article.id %>" class="card">
          <%= image_tag article.image.url, alt: article.title %>
          <div class="card-body">
            <h5 class="card-title text-secondary"><%= article.title %></h5>
            <p class="text-secondary text-right">ブックマーク：<%= article.bookmarks.count %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
</div>
