<!--記事公開ボタン-->
<div class="col-md-6 offset-sm-3">
  <%= link_to "記事を公開する", publish_article_path(article), method: :patch, data: { confirm: '本当に公開してよろしいですか？' }, class: 'btn btn-success btn-block' %>
</div>
