<h5>プレビュー</h5>

<!--編集、削除ボタン-->
<%= render 'articles/edit_delete_button', article: @article %>
  
<!--記事詳細view-->
<%= render 'articles/article', article: @article %>

<!--記事公開ボタン-->
<%= render 'articles/publish_button', article: @article %>
