<%= render 'layouts/second_navbar' %>

<!--編集、削除ボタン-->
<% if current_user == @article.user %>
  <%= render 'articles/edit_delete_button', article: @article %>
<% end %>

<!--ブックマークボタン-->
<div class="mb-2">
  <%= render 'bookmarks/bookmark_button', article: @article %>
</div>

<!--記事詳細view-->
<%= render 'articles/article', article: @article %>

