<!--レシピ公開ボタン-->
<div class="col-sm-6 offset-sm-3">
  <%= link_to "レシピを公開する", publish_recipe_path(recipe), method: :patch, data: { confirm: '本当に公開してよろしいですか？' }, class: 'btn btn-outline-success btn-block' %>
</div>
