<div class="offset-sm-1">
  <div class="row">
    <div class="col-sm-4">
      <h2>作り方</h2>
    </div>
  </div>
  <div class="row">
    <% recipe.steps.each do |step| %>
      <div class="col-sm-3">
        <h2>STEP<%= step.number %></h2>
        <p><%= step.content %></p>
      </div>
    <% end %>
  </div>
</div>
