<div class="col-md-3 px-2 mb-2">
  <div class="card p-2 rouded-0 border-0 bg_skew_dot">
    <div class="card border-0">
      <div class="card-header search-header p-1 border-0 rounded-0">
        <div class="d-flex justify-content-center">
          <h4 class="mb-0 text-white d-inline pt-1"><i class="fas fa-search"></i> レシピを探す</h4>
          <a class="btn btn-small button p-0 ml-2 text-white d-inline d-md-none"
              data-toggle="collapse"
              href="#recipe-search"
              role="button"
              aria-expand="false"
              aria-controls="recipe-search"><i class="fas fa-angle-down"></i>
          </a>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="collapse d-md-none" id="recipe-search">
          <%= render 'recipes/search_parts', keyword: keyword, feature: feature, keyword_submit: keyword_submit, feature_submit: feature_submit %>
        </div>
        <div class="d-none d-md-block">
          <%= render 'recipes/search_parts', keyword: keyword, feature: feature, keyword_submit: keyword_submit, feature_submit: feature_submit %>
        </div>
      </div>
    </div>
  </div>
</div>