<%= render "layouts/side_bar" do %>    
  <div class="card">
    <div class="card-body p-4">
      <h2 class="heading">レシピ概要を入力</h2>
      <%= render 'recipes/form', recipe: @recipe, path: recipe_path, easy_path: easy_update_recipe_path %>
    </div>
  </div>
<% end %>