<!--レシピ検索フォーム-->
<%= render 'recipes/search', keyword: @keyword, feature: @feature, keyword_submit: "再検索", feature_submit: "絞込み" %>

<h2>検索結果：<%= @recipes.count %>件</h2>
<% if @recipes.empty? %>
  <div class="alert alert-warning">条件に一致するレシピがありません</div>
<% else %>
  <%= render 'recipes/recipes', recipes: @recipes %>
<% end %>
