<div class="row">
  <div class="col-sm-12 px-2">
    <div class="bg-gray px-3 py-2 mb-2 mx-0">
      <h4 class="m-0">検索結果：<%= @recipes.count %>件</h4>
    </div>
  </div> 
</div>
<% if @recipes.empty? %>
  <div class="alert alert-warning">キーワードに一致するレシピがありません</div>
<% else %>
  <%= render 'recipes/recipes', recipes: @recipes %>
<% end %>
