<% breadcrumb :recipe_new %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>    
  <div class="card">
    <div class="card-body p-4">
      <h2 class="heading">レシピ概要を入力する</h2>
      <%= render 'recipes/form', recipe: @recipe, path: recipes_path, easy_path: easy_create_recipes_path %>
    </div>
  </div>
<% end %>