<% if current_user.requesting_friend?(user) %>
  <h3>友だちリクエスト中のユーザーです。</h3>
<% elsif current_user.receiving_friend?(user) %>
  <h3>友だちリクエスト受信中のユーザーです。</h3>
<% elsif current_user.approved_friend?(user) %>
  <h3>友だちに追加済みユーザーです。</h3>
<% elsif current_user == user %>
  <h3>自身を友だちに追加することはできません。</h3>
<% else %>
  <%= form_with(url: relationships_path, local: true) do |f| %>
    <%= hidden_field_tag :user_id, user.id %>
    <%= f.submit '友だちリクエストを送る', class: 'btn btn-sm button' %>
  <% end %>
<% end %>
