nav {
  margin: 20px 40px;
}

.navbar-brand {
  font-size: 30px;
  letter-spacing: 0.15em;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0,0,0,0);
}

.nav-item {
  font-size: 13px;
}

#search-box {
  display: block;
  width: 100%;
  height: calc(2rem);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}