<div class="row m-0 mb-2">
  <% if user.kind_of?(User) %>
    <div class="col-sm-4 offset-sm-4">
      <%= image_tag(user.image.to_s, alt: user.name, class: 'rounded-pill') %>
      <div class="d-flex justify-content-center">
        <h1 class="mt-2 mb-0"><%= user.name %></h1>
      </div>
      <div class="d-flex justify-content-center">
        <%= render 'relationships/add_friend_button', user: user %>
      </div>
    </div>
  <% else %>
    <h3>該当するユーザーが見つかりませんでした。</h3>
  <% end %>
</div>