<div class="row">
  <aside class="col-sm-4">
    <div class="card">
      画像
    </div>
  </aside>
  <div class="col-sm-8">
    <h5>名前</h5>
      <h3><%= @user.name %></h3>
    <h5>プロフィール</h5>
      <h3><%= @user.profile %></h3>
  </div>
</div>