<% breadcrumb :ingredients_edit, @recipe %>
<%= render "layouts/breadcrumbs" %>
<%= render "layouts/side_bar" do %>
  <div class="card">
    <div class="card-body p-4">
      <h2 class="heading">材料を入力する</h2>
      <%= render 'ingredients/form', recipe: @recipe, method: :patch %>
      <!--レシピ特徴-->
      <%= render 'features/index', recipe: @recipe %>
    </div>
  </div>
<% end %>