<%= render "layouts/side_bar" do %>    
  <div class="pl-2">
    <!--レシピ並べ替え-->
    <%= render 'recipes/sort_list', path: root_path %>
  </div>
  <!--投稿レシピ一覧-->
  <%= render 'recipes/index', recipes: @recipes %>
<% end %>