<div class="col-sm-3">
  <h2>献立一覧</h2>
  <ul>
    <% week_loop.each do |day| %>
      <li>
        <h3><%= wday_jp(day) %>の献立</h3>
        <ul>
          <% @meals.day(day).menu_recipes.each do |recipe| %>
            <li><%= link_to recipe.title, recipe_path(recipe) %>
                <%= render 'menus/remove_from_meal', recipe: recipe, day: day %>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
