<div class="col-sm-2 p-0">
      <h3><i class="fas fa-dot-circle"></i> 献立List</h3>
      <div class="border-gray mb-3"></div>
      <% week_loop.each do |day| %>
        <% if @meals.day(day).menu_recipes.present? %>
          <div class="card mb-2 p-1 rounded-0 border-0 bg-darkgray">
            <div class="card p-2 rounded-0 border-0 bg-white">
              <h4 class="mb-0 fw-normal"><%= wday_jp(day) %></h4>
              <table class="table table-sm m-0">
                <% @meals.day(day).menu_recipes.each do |recipe| %>
                  <tr>
                    <td class="pb-1 px-0 align-bottom"><h5 class="m-0"><%= link_to recipe.title, recipe_path(recipe) %></h5></td>
                    <td class="p-0 d-flex justify-content-end"><%= render 'menus/remove_from_meal', recipe: recipe, day: day %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
