<%= render "layouts/side_bar" do %>    
  <div class="card">
    <div class="card-body p-4">
      <h2 class="heading">レシピ概要を入力</h2>
      <%= render 'recipes/show_upper', recipe: @recipe %>
      <%= render 'steps/form', method: :post, button_message: "保存してプレビューを見る" %>
      <!--レシピ特徴-->
      <%= render 'features/index', recipe: @recipe %>
    </div>
  </div>
<% end %>