/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body {
 font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
a{
 color: black;
}
input {
 font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
 }
h1 {
 font-size: 1.3rem;
 color: #332d2d ;
}
h2 {
 font-size: 1rem;
 color: #a9a9a9 ;
}
h3 {
 font-size: 0.9rem;
 color: #666666;
}
h4 {
 font-size: 0.8rem;
 color: #666666;
}
h5 {
 font-size: 0.7rem;
}
h6 {
 font-size: 0.4rem;
}
p {
 font-size: .8rem;
}
label {
 margin-bottom: 0.1rem;
 font-size: 0.8rem;
}
img {
max-width: 100%;
height: auto;
}
.sm-font {
 font-size: .75rem;
}
.ash-blue {
 color: #1285b3;
}
.bg-gray {
 background-color: #f7f6f5;
}
.bg-darkgray {
 background-color: #b3afad;
}
.bg-orange {
 background-color: #e67e00;
}
.button {
 font-size: 0.8rem;
 color: #999694;
 font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
.navbar-brand {
 font-weight: bold;
 font-size: 2rem;
 letter-spacing: 0.22em;
}
.nav-item {
 font-size: .8rem;
 letter-spacing: .15rem
}
.form-control {
 height: calc(2.25rem + 2px);
 padding: .375rem .75rem;
 font-size: 0.8rem;
 color: #495057;
 background-color: #F5F5F5;
 border: 0px;
 border-radius: 0rem;
 transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.bg_skew_dot{
  border-radius: 0;
  background-color: #fff4e6;
  background-image:
    radial-gradient(#e6d1b8 20%, transparent 30%),
    radial-gradient(#e6d1b8 20%, transparent 30%);
  background-size: 4px 4px;
  background-position: 0 0, 2px 2px;
}
.search-box {
 height: calc(1.7rem);
 padding: .2rem .4rem;
 font-size: .8rem;
 color: #495057;
 background-color: #fff;
 border: 1px solid #ced4da;
 border-radius: .2rem;
}
.search-box:focus {
 border: 2px solid #8b9eb3;
 box-shadow: 0 0 0 0;
}
.search-btn {
 height: calc(1.7rem);
 font-size: .8rem;
 color: white;
 background-color: #e67e00;
}
.search-btn:hover {
 color: white;
 background-color: #d2691e;
}
.header-btn {
  font-size: 0.7rem;
  padding: .15rem .5rem;
}

#unlike-btn {
  background-color: #e6b8be;
  border: 1px solid;
  border-color: #e6b8be;
}

#like-btn:hover {
  background-color: #e6b8be;
  border: 1px solid;
  border-color: #e6b8be;
}
#remove-menu-btn {
 color: #999491;
 font-size: .8rem;
 height: 1.2rem;
 padding: 0;
}
