<div>
  <%= "ボリュームは？：#{recipe.feature.amount_i18n}" %>
  <%= "何系料理？：#{recipe.feature.dish_type_i18n}" %>
  <%= "メインの食材は？：#{recipe.feature.main_food_i18n}" %>
  <%= "調理法は？：#{recipe.feature.cooking_method_i18n}" %>
</div>