<div class="font-sm mt-4">
  <table class="table table-sm table-bordered table-striped">
    <tr>
      <th class="text-center p-1">ボリューム</th>
      <th class="text-center p-1">系統</th>
      <th class="text-center p-1">メイン食材</th>
      <th class="text-center p-1">調理法</th>
    </tr>
    <tr>
      <td class="py-1 px-2"><%= "#{recipe.feature.amount_i18n}" %></td>
      <td class="py-1 px-2"><%= "#{recipe.feature.dish_type_i18n}" %></td>
      <td class="py-1 px-2"><%= "#{recipe.feature.main_food_i18n}" %></td>
      <td class="py-1 px-2"><%= "#{recipe.feature.cooking_method_i18n}" %></td>
    </tr>
  </table>
</div>